@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
/* html{
    overflow: hidden;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow: hidden;
}
.container{
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: #0D0D0D;
}
#circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    clip-path: ellipse(35% 65% at 0% 50%);
}

.side-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: transparent;
    align-items: center;
    overflow: hidden;
}
.side-container .box{
    box-sizing: border-box;
    position: relative;
    width: 60%;
    height: 50%;
    overflow: hidden;    
    background-color: #0D0D0D85;
    color: white;
    border: 1.5px solid #0D0D0D85;
    border-radius: 4px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.side-container .box:hover{
    background-color: #212121;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0, 0, 0, 0.1);    
    transform: scale(1.2, 1.2);
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-container .box .imgbox{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(400px at center);
    transition: .3s;
}
.side-container .box:hover .imgbox{
    clip-path: circle(70px at 50% 25%);
}
.side-container .box .imgbox img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.side-container .box .content{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 50%;
}
.side-container .box:hover .content{    
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}
.min-div{
    font-family: 'Poppins', sans-serif;
    font-size: small;
    width: 95%;
    height: 29%;
    background-color: white;
    color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.side-container .box .content .header{
    opacity: 0;
}
.side-container .box .content .title{
    opacity: 0;
}
.side-container .box .content .education{
    opacity: 0;
}
.side-container .box:hover .content .header{
    opacity: 1;
    transition: opacity cubic-bezier(0.6, 0.04, 0.98, 0.335) .1s;
    transition-delay: .4s;
}
.side-container .box:hover .content .title{
    opacity: 1;
    transition: opacity cubic-bezier(0.6, 0.04, 0.98, 0.335) .1s;
    transition-delay: .5s;
}
.side-container .box:hover .content .education{
    opacity: 1;
    transition: opacity cubic-bezier(0.6, 0.04, 0.98, 0.335) .1s;
    transition-delay: .6s;
}
.side-container .box .content .header:hover,
.side-container .box .content .title:hover,
.side-container .box .content .education:hover
{
    color: white;
    border: 1px solid #0B42FF;
    background-color: #0B42FF;
    /* transform: skew(1deg, 1deg); */
    transform: scale3d(1.15,1.15,1.15);
    transition: transform ease-in-out 0.1s;
}

#father-div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 100%;
    left: 30%;
}
.sentence{
    font-family: 'Poppins', sans-serif;
    font-weight:400 ;
    width: 47%;
    height: 50%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    color: #fff; 
}
.quote{
    font-size:1.7rem ;
}

.quote-arabic{
    font-family: 'Cairo', sans-serif;
    font-size:1.7rem ;
}




.icon{
    width: 55px !important;
    height: 55px;
    border-radius: 50%;
    color: #fff;
    border: solid 2px #0D0D0D;
    background-color:#BF1736 ;
    cursor: pointer;
    box-sizing: border-box;
}
.icon:hover{
    color: #fff;
    background-color: #0D0D0D;
    border: solid 2px #BF1736;
    transform: scale(1.2,1.2);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.profile{
    position: absolute;
    top: 10%;
    left: -4%;
}
.phone{
    position: absolute;
    top: 25%;
    left: 2%;
}
.mail{
    position: absolute;
    top: 45%;
    left: 4.5%;
}
.github{
    position: absolute;
    top: 65%;
    left: 3%;
}
.address{
    position: absolute;
    top: 85%;
    left: -4.5%;
}

.expand{
    position: absolute;
    width: 80%;
    height: 90%;
    left: -10%;
    top:5%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: visible;  
}


.profile-icon,
.phone-icon,
.mail-icon,
.github-icon,
.address-icon{
    padding: 13px;
}


.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: visible; 
    align-items: center; 
    height: 10%;
}
.open{
    background-color: #BF1736;
}
.bar span{
    align-self: center;
}




/* responsive design */

/* at 360px */
@media screen and (max-width: 360px){
    #circle{
        clip-path: ellipse(60% 55% at 0% 50%);
    }
    
    .profile{
        left: 33%;
    }
    .phone{
        top: 26%;
        left: 47%;
    }
    .mail{
        left: 52%;
    }
    .github{
        left: 47%;
    }
    .address{
        left: 34%;
    }
    
    #father-div{
        width: 95%;
        left: 5%;
    }
    .expand{
        width: 95%;
        height: 95%;
        left: 0;
        top:2.5%;       
    }
}













