@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');
*{
    overflow: hidden;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100vh;
    background-color: #212121;
}
#circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 179, 0);
    clip-path: ellipse(35% 65% at 0% 50%);
}
#identity{
    font-family: 'Changa', sans-serif;
    text-align: center;
    font-size: larger;
    position: absolute;
    top: 25%;
    left: 2%;
    height: 50%;
    width: 20%;
}
#nametag{
}
#arabicnametag{
}














.icon{
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
    color: #424242;
    border: solid 2px #212121;
    background-color:#ffe54c ;
    cursor: pointer;
}
.icon:hover{
    /* color: #000000; */
    color: #ffe54c;
    background-color: #212121;
    border: solid 2px #ffe54c;
    transform: rotate(360deg);
    transition: all cubic-bezier(0.23, 1, 0.320, 1) 0.15s;
}
.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}
.bar span{
    align-self: center;
}




#father-div{
    position: relative;
    width: 80%;
    height: 100%;
    left: 20%;
}
.profile{
    position: absolute;
    top: 10%;
    left: 8%;
}
.phone{
    position: absolute;
    top: 25%;
    left: 14%;
}
.mail{
    position: absolute;
    top: 45%;
    left: 17%;
}
.github{
    position: absolute;
    top: 65%;
    left: 15.5%;
}
.address{
    position: absolute;
    top: 85%;
    left: 9%;
}

.expand{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 4%;
    top:10%;
    background-color: aliceblue;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    /* transition: all ease-in .2s; */
}
.expand:hover{
    
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}















.profile-icon{
    padding: 7px;
}

.phone-icon{
    padding: 6px;
}
.mail-icon{
    padding: 6px;
}
.github-icon{
    padding: 5px;
}
.address-icon{
    padding: 5px;

}























/* #notch{
    background-color: #F2C400;    
    width: 40%;
    height: 5%;
    position: absolute;
    bottom: 5%;
    left: 30%;
    border-radius: 100px 100px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
} */
/* #notch:after {
    content: "";
    position: absolute;
    background: #F2C400;
    height: 5px;
    width: 20px;
    left: -10px;
    bottom: 0;
} */

/* 
#footer{
    background-color: #F2C400;
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
} */
