@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

*{
    box-sizing: border-box;
}
ul{
    margin: 2px 0;
    padding: 0 10px;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: #e8eddf;
}
/* square section */
#square{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242423;
    clip-path: inset(0 65% 0 0);
}
.side-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: transparent;
    align-items: center;
    overflow: hidden;
}
.side-container .box{
    position: relative;
    width: 60%;
    height: 60%;
    overflow: hidden;    
    color: white;
    border: 1.5px solid #14213D50;
    border-radius: 10px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-container .box:hover{
    background-color: #333533;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0, 0, 0, 0.1);    
    transform: scale(1.2, 1.2);
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-container .box .imgbox{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(400px at center);
    transition: .3s;
}
.side-container .box:hover .imgbox{
    clip-path: circle(70px at 50% 25%);
}
.side-container .box .imgbox img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.side-container .box .content{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 50%;
}
.side-container .box:hover .content{    
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}
.min-div{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 95%;
    height: 29%;
    background-color: white;
    color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.side-container .box .content .header{
    opacity: 0;
}
.side-container .box .content .title{
    opacity: 0;
}
.side-container .box .content .education{
    opacity: 0;
}
.side-container .box:hover .content .header{
    opacity: 1;
    transition: opacity cubic-bezier(0.6, 0.04, 0.98, 0.335) .1s;
    transition-delay: .4s;
}
.side-container .box:hover .content .education{
    opacity: 1;
    transition: opacity cubic-bezier(0.6, 0.04, 0.98, 0.335) .1s;
    transition-delay: .5s;
}
.side-container .box:hover .content .title{
    opacity: 1;
    transition: opacity cubic-bezier(0.6, 0.04, 0.98, 0.335) .1s;
    transition-delay: .6s;
}
.side-container .box .content .header:hover,
.side-container .box .content .title:hover,
.side-container .box .content .education:hover
{
    color: #fff;
    font-size: 16px;
    border: 1px solid #333533;
    background-color: #333533;
    transform: scale3d(1.1,1.1,1.1);
    transition: transform ease-in-out 0.1s;
}

#father-div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 100%;
    left: 30%;
}
.sentence{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    width: 60%;
    height: 50%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    color: #000; 
}
.quote{
    font-size:1.8rem ;
}
.quote-arabic{
    font-family: 'Cairo', sans-serif;
    font-size:1.8rem ;
}
.icon{
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    color: #010d18;
    border: solid 1.5px #f5cb5c;
    background-color:#f5cb5c ;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon:hover{
    color: #f5cb5c;
    background-color: #010d18;
    border: solid 1.5px #010d18;
    transform: scale(1.15,1.15);
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.profile{
    position: absolute;
    top: 15%;
    left: 4%;
}
.contacts{
    position: absolute;
    top: 35%;
    left: 4%;
}
.work{
    position: absolute;
    top: 55%;
    left: 4%;
}
.socials{
    position: absolute;
    top: 75%;
    left: 4%;
}
.profile-icon,
.contact-icon,
.work-icon,
.socials-icon{
    padding: 13px;
}
.button{
    transition: top cubic-bezier(0.23, 1, 0.320, 1) .1s, left ease .2s;
}
.expand{
    position: absolute;
    width: 80%;
    height: 90%;
    left: -10%;
    top:5%;
    background-color: #cfdbd5;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: visible;  
}
.bar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: visible; 
    align-items: center; 
}
.open .icon{
    margin: 10px 20px;
}
.bar span{
    align-self: center;
}
.exit{
    cursor: pointer;
    margin: 10px 20px;
    font-size: 2.6em;
    color: #FCA311;
    /* filter: drop-shadow(2px 2px 0.5px #000000); */
    transition: transform ease-in 0.1s;
}
.exit:hover{
    color: #000000;
    /* filter: drop-shadow(1px 1px 0px #E5E5E5); */
    transform: scale(1.05,1.05);
    transition: transform ease-in 0.1s;
}
.expand .body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.socials.expand .form{
    width: 60%;
    height:80%;
}
.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 96%;
    height: 30%;
    background-color: #e8eddf;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.card:hover{
    box-shadow: 0 8px 10px rgba(0,0,0,0.3), 0 7px 7px rgba(0, 0, 0, 0.3);
    transition: box-shadow cubic-bezier(0.25, 0.46, 0.45, 0.94) .7s;
}
.card::after{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333533;
    border-radius: 10px;
    color: #fff;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}
.card:hover::after{
    font-size: large;
    width: 00%;
    text-align: center;
    background-color: #e8eddf;
    color: transparent;
    transition: width cubic-bezier(0.77, 0, 0.175, 1) 0.7s,
     font-size ease-in-out .7s,
     background-color ease-in-out .7s,
     color ease-in-out .7s;
}
.card-content{
    position: absolute;
    font-size: 16px;
    width: 100%;
    left: 00%;
    padding: 10px 20px;
}
.me.card::after{
    content: "Who Am I?";
}
.education.card::after{
    content: "Education";
}
.good.card::after{
    content: "Things I'm Good at";
}
.phone-numbers.card::after{
    content: "Phone";
}
.mail-info.card::after{
    content: "Mail";
}
.address-info.card::after{
    content: "Address";
}
.courses.card::after{
    content: "Courses";
}
.projects.card::after{
    content: "Projects";
}
.interests.card::after{
    content: "Interests";
}
.social-card::after{
    content: "Socials";
}
/* .social-icons{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    top: 20%;
    justify-content: space-around;
} */
.social-icon{
    font-size: 3rem;
    color: #FCA311;
}
.social-icon:hover{
    color: #000000;
}
/* .Linkedin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
}
.text-icon{
    cursor: pointer;
    display: none;
    padding: 0 0 0 10px;
}
.show{
    display: block;
}
.Linkedin.shown{
    width: 60%;
    background-color: #FCA311;
    /* border-radius: 20px; 
    color: #E5E5E5;
} */




/* responsive design */

/* at 360px */
@media screen and (max-width: 425px){    
    #square{
        height: 90%;
        background-color: #FFFFFF;
        clip-path: inset(0 0% 0 0);
        /* z-index: 100; */
    }
    .sentence{
        display: none;
    }
    #father-div{
        position: absolute;
        width: 100%;
        height: 10%;
        left: 0;
        bottom: 0;
    }
    .profile{
        left: 5%;
        top:-35%;
    }
    .contacts{
        left: 30%;
        top:-35%;
    }
    .work{
        left: 55%;
        top:-35%;
    }
    .socials{
        left: 80%;
        top:-35%;
    }
    .side-container{
        /* display: none; */
        width: 100%;
    }    
    .expand{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0%;
        top:0%;  
    }
    .side-container .box{
        /* position: relative; */
        width: 70%;
        height: 70%;
        /* overflow: hidden;     */
        /* color: white; */
        /* border: 1.5px solid #00000050; */
        /* border-radius: 10px; */
        /* transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); */
    }
    .expand{
        border-radius: 0;
    }
    .card-content{
        font-size: small;
    }
}













