@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
*{
    box-sizing: border-box;
}
ul{
    margin: 2px 0;
    padding: 0 10px;
}
li{
    padding: 2px 0;
}
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
.container{
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color:#131515;
}

/* square section */
#square{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: #d8f3dc;
    clip-path: inset(0 0% 0 0);
}
.side-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: transparent;
    align-items: center;
    overflow: hidden;
}
.side-container .box{
    position: relative;
    width: 60%;
    height: 60%;
    overflow: hidden;    
    color: white;
    border-radius: 10px;
    transition: all 300ms cubic-bezier(.57,.21,.69,1.25);
}
.side-container .box:hover{
    background-color: #081C15;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0, 0, 0, 0.2);    
    transform: scale(1.25, 1.25);
    transition: transform 300ms cubic-bezier(.57,.21,.69,1.25);
}
.side-container .box .imgbox{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(400px at center);
    transition: clip-path 300ms cubic-bezier(.57,.21,.69,1.25);
}
.side-container .box:hover .imgbox{
    clip-path: circle(80px at 50% 25%);
    transition: clip-path 300ms cubic-bezier(.57,.21,.69,1.25);
}
.side-container .box .imgbox img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.side-container .box .content{
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 50%;
}
.side-container .box .content{    
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}
.min-div{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 95%;
    height: 29%;
    background-color: #fff;
    color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.side-container .box .content .header,
.side-container .box .content .education,
.side-container .box .content .title{
    opacity: 0;
}
.side-container .box .content .min-div{
    opacity: 0;
}
.side-container .box:hover .content .header{
    opacity: 1;
    transition: opacity cubic-bezier(.57,.21,.69,1.25) 100ms;
    transition-delay: 300ms;
}
.side-container .box:hover .content .education{
    opacity: 1;
    transition: opacity cubic-bezier(.57,.21,.69,1.25) 100ms;
    transition-delay: 400ms;
}
.side-container .box:hover .content .title{
    opacity: 1;
    transition: opacity cubic-bezier(.57,.21,.69,1.25) 100ms;
    transition-delay: 500ms;
}
/* .side-container .box:hover .content .header:hover,
.side-container .box:hover .content .education:hover,
.side-container .box:hover .content .title:hover{
    color: #fff;
    font-size: 15px;
    background-color: #212529;
    transform: scale3d(1.1,1.1,1.5);
    transition: transform ease-in-out 0.1s;
} */


#father-div{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
    height: 100%;
    right: 0;
}
.sentence{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    width: 70%;
    height: 50%;
    margin-left: 20px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff; 
}
.quote{
    font-size:1.8rem ;
}
.quote-arabic{
    font-family: 'Cairo', sans-serif;
    font-size:1.8rem ;
}
.icon{
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    color: #fffafb;
    border: solid 1.5px #2D6A4F;
    background-color:#2D6A4F;
    cursor: pointer;
    transition: transform 100ms cubic-bezier(.57,.21,.69,1.25);
}
.icon:active,
.icon:hover{
    color: #2D6A4F;
    background-color: #fffafb;
    border: solid 1.5px #fffafb;
    transform: scale(1.15,1.15);
    transition: transform 100ms cubic-bezier(.57,.21,.69,1.25);
}
.profile{
    position: absolute;
    top: calc(20% - 25px);
    left: -25px;
}
.contacts{
    position: absolute;
    top: calc(40% - 25px);
    left: -25px;
}
.work{
    position: absolute;
    top: calc(60% - 25px);
    left: -25px;
}
.socials{
    position: absolute;
    top: calc(80% - 25px);
    left: -25px;
}
.profile-icon,
.contact-icon,
.work-icon,
.socials-icon{
    padding: 13px;
}
.button{
    transition: left cubic-bezier(.57,.21,.69,1.25) 200ms, top cubic-bezier(.57,.21,.69,1.25) 200ms;
}
.expand{
    position: absolute;
    width: 80%;
    height: 90%;
    background-color: #B7E4C7;
    top: 5%;
    left: -10%;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: top cubic-bezier(.57,.21,.69,1.25) 300ms, left cubic-bezier(.57,.21,.69,1.25) 300ms;
    overflow: visible;  
}
.bar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: visible; 
    align-items: center; 
    transition: top 200ms cubic-bezier(.57,.21,.69,1.25);
}
.open .icon{
    margin: 10px 10px;
}
.open .icon:hover{
    color: #fffafb;
    border: solid 1.5px #2D6A4F;
    background-color:#2D6A4F;
    transform: unset;
}

.bar span{
    align-self: center;
}
.exit{
    cursor: pointer;
    margin: 10px 10px;
    font-size: 2em;
    color: #2D6A4F;
    transition: color cubic-bezier(.57,.21,.69,1.25) 100ms;
}
.exit:hover{
    color: #081C15;   
    transition: color cubic-bezier(.57,.21,.69,1.25) 100ms;
}
.expand .body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 96%;
    height: 30%;
    background-color: #1d4635;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 300ms cubic-bezier(.25,.8,.25,1);
}
.card:hover{
    box-shadow: 0 8px 10px rgba(0,0,0,0.3), 0 7px 7px rgba(0, 0, 0, 0.3);
    transition: box-shadow cubic-bezier(.57,.21,.69,1.25) 300ms;
}
.card::after{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2.2rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #131515;
    /* background: radial-gradient(circle, rgba(29,70,53,1) 66%, rgba(82,183,136,1) 100%); */
    color: #fff;
    transition: all cubic-bezier(.57,.21,.69,1.25) 200ms;
}
.card:hover::after{
    width: 0%;
    text-align: center;
    background-color: #2D6A4F;
    color: transparent;
    transition: all cubic-bezier(.57,.21,.69,1.25) 200ms;
}
.card-content{
    color: white;
    position: absolute;
    font-size: 0.9em;
    width: 100%;
    left: 0%;
    padding: 10px 20px;
}
.projects a,
.projects a:visited{
    color: yellow;
    text-decoration: none;
}
.me.card::after{
    content: "Who Am I?";
}
.education.card::after{
    content: "Education";
}
.good.card::after{
    content: "Things I'm Good at";
}
.phone-numbers.card::after{
    content: "Phone";
}
.mail-info.card::after{
    content: "Mail";
}
.address-info.card::after{
    content: "Address";
}
.courses.card::after{
    content: "Courses";
}
.projects.card::after{
    content: "Projects";
}
.interests.card::after{
    content: "Interests";
}
.social-card::after{
    content: "Socials";
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social-icon{
    font-size: 3rem;
    color: #ffffff;
    transition: color ease-in .1s;
}
.social-icon:hover{
    color: #FCA311;
    transition: color ease-in .1s;
}




/* responsive design */
@media screen and (max-width:425px) and (max-height: 640px){
    .card-content{
        font-size: 10px;
    }
    .card::after{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 768px){    
    #square{
        height: 100%;
        width: 88%;
        left: unset;
        right: 0;
        clip-path: inset(0 0 0 0);
        /* z-index: 100; */
    }
    .sentence{
        display: none;
    }
    #father-div{
        width: 12%;
        left: 0;
    }
    .button{
        transition: top cubic-bezier(.57,.21,.69,1.25) 100ms;
    }    
    .profile,
    .contacts,
    .work,
    .socials{
        left: calc(100% - 25px);
    }
    .side-container .box{
        width: 70%;
        height: 70%;
        margin-left: 5%;
    }    
    .expand{        
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;   
        border-radius: 0;
        transition: top cubic-bezier(.57,.21,.69,1.25) 150ms;      
    }        
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* cv button material design -------------------------------------------------- */
.btn {
    justify-self: start;
    align-self: flex-start;
    position: relative;
    cursor: pointer;
    display: block;
    padding: 4px 8px;  
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);    
    background-color: #FCA311;
    color: black;
    transition: background-color 300ms;
  }
  .btn:hover, .btn:focus {
    background-color: #DE8A02;
  }
  .btn > * {
    position: relative;
  }
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  .btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;      
    border-radius: 100%;    
    background-color: rgba(236, 240, 241, .3);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width 200ms ease-out, padding-top 200ms ease-out;
  }
/* end cv material button  -------------------------------------------------- */

.form{
    position: relative;
    width: 70%;
    height: 65%;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* transition: all 300ms cubic-bezier(.25,.8,.25,1); */
}
form input{
    height: 18%;
}

.form-item{
    font-family: 'Poppins', sans-serif;
    border: 1px solid #efefef;
    font-size: 1em;
    width: 98%;
    padding: 5px 10px;
    border-radius: 4px;
    resize: none;
    margin: 5px 0px 2px 0px;
}
.form-item:focus{
    outline: 1px solid #95d5b2;
    border: #95d5b2 1px solid;
    background-color: #d8f3dc;
}
textarea{
    height: 60%;
}
.submit-btn{
    width: auto;
    height: auto;
    padding: 4px 8px;
    margin: 4px 0;
    border: none;
    align-self: center;
    background :#1d4635;
}
.submit-btn:hover,
.submit-btn:active{
    background:#081C15;
}